/* main {
    background-color: white;
} */

.containerParagraph {
    width: 384px;
}

.cutTheText {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    overflow: hidden;
    width: 380px;
    font-size: 13px;
}

.imageContainer {
    /* display: flex;
    justify-content: center; */
    width: 384px;
    height: 300px;
}

.imagesBlogAndNews {
    width: 364px;
    height: 246px;
}

.imagesBlogAndNews:hover {
    transform: scale(1.1);
}

.containerPostedBy {
    width: 364px;
    height: 54px;
    font-size: 11px;
}

.headerCard {
    font-size: 18px;
    width: 366px;
}

.containerLikesAndLeaveAComment {
    width: 364px;
    height: 24px;
    font-size: 10px;
    margin-bottom: 50px;
    
}

.containerLikesAndLeaveAComment a {
    margin-right: 25px;
}

.mainCardContainer {
    display: flex;
    flex-direction: column;
    width: 394px;
    height: 795px;
    /* border: 1px solid red; */
    border-radius: 5px;
}

.buttonContinuedReading {
    border-radius: 0px;
    border: 1px solid white ;
    background-color: white;
    color: black;
    width: 156px;
    height: 32px;
    font-size: 11px;
}

.buttonContinuedReading:hover {
    border-radius: 0px;
    border: 1px solid white ;
    background-color: black;
    color: white;
    
}