.containerParagraph {
    width: 384px;
}

.cutTheText {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    overflow: hidden;
    width: 380px;
    font-size: 13px;
}

.imageContainer {
    display: inline-block;
    margin: 20px;
    border-radius: 8px;
    overflow: hidden;
}

.imagesBlogAndNews {
    display: block;
    transition: transform .04s;
    width: 364px;
    height: 246px;
    margin: 0;
}


.imagesBlogAndNews:hover {
    transform: scale(1.3);
    transform-origin: 50% 50% ;
}

/* .imagesBlogAndNews {
    overflow: hidden;
    width: 364px;
    height: 246px;
}

.imagesBlogAndNews:hover {
    transform: scale(1.5);
    overflow: hidden; 
} */

.containerPostedBy {
    width: 364px;
    height: 54px;
    font-size: 11px;
}

.headerCard {
    font-size: 18px;
    width: 366px;
}

.containerLikesAndLeaveAComment {
    width: 364px;
    height: 24px;
    font-size: 10px;
    margin-bottom: 50px;
    
}

.containerLikesAndLeaveAComment a {
    margin-right: 25px;
}

.mainCardContainer {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 394px;
    height: 795px;
    border-radius: 5px;
}

.buttonContinuedReading {
    border-radius: 0px;
    border: 2px solid black ;
    background-color: white;
    color: black;
    width: 156px;
    height: 32px;
    font-size: 11px;
}

.buttonContinuedReading:hover {
    border-radius: 0px;
    border: 2px solid white ;
    background-color: black;
    color: white;
}