.imgBlogANewsHead {
    clip-path: polygon(20% 0, 100% 0, 100% 81%, 82% 100%, 0 100%, 0 23%);
    width: 920px;
    height:520px;
    display: block;
    transition: transform .04s;
    margin: 0;
}

.imgBlogANewsHead:hover {
    transform: scale(1.3);
    transform-origin: 50% 50%;
}


.imgContHeadBlogNewsCard {
    display: inline-block;
    margin: 20px;
    border-radius: 8px;
    overflow: hidden;
    clip-path: polygon(20% 0, 100% 0, 100% 81%, 82% 100%, 0 100%, 0 23%);
}

.mainContainerHeadCard {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headMainCont {
    font-size: 42px;
    max-width: 920px;
}

.footerBlogAndNews {
    display: flex;
    justify-content: start;
    gap: 112px;
    width: 920px;
}

.footerBlogAndNews span {
    max-width: 320px;
    max-height: 82px;
    font-size: 22px;
    font-weight: 500;
}

.footerBlogAndNews p {
    line-height: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    width: 320px;
    font-size: 14px;
}

.outerLine {
    border: 8px dashed #4CAF50;
    border-radius: 12px;
    width: 1600px;
    display: flex;
    justify-content: center;
    margin-top: 42px;
    padding-bottom: 25px;
    clip-path: polygon(50% 4%, 100% 0, 97% 45%, 100% 100%, 100% 100%, 50% 97%, 0 100%, 4% 48%, 0 0);
}

.mainManiBlogAndNews {
    margin-top: 84px;
    display: flex;
    justify-content: center;
}