.mainContainer {
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.underline{
    font-size: 20px;
    color: black;
    font-weight: 500;
    margin: 25px 20px;
    width: 155px;
    border: 2px solid #ff9100;
    margin-top: 8px;
}
.headerAndUnderline {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerAndUnderline {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerFormContacts {
    /* border: solid 1px white; */
    width: 650px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    background-color: rgb(81, 81, 81);
    font-size: 18px;
    border-radius: 5px;
}

.images {
    width: 850px;
}

.image {
    width: 850px;
}

.containerForm {
    display: flex;
}

.connectWithUsContainer {
    height: 350px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.connectWithUsContainer span {
    font-size: 18px;
}

.connectWithUsContainer input {
    height: 20px;
    width: 350px;
}

.connectWithUsContainer textarea {
    height: 50px;
    width: 350px;
}

.btnSubmit {
    width: 150px;
    height: 30px;
    padding: 0;
    font-size: 13px;
}

.icons {
    /* padding-left: 20px;
    padding-right: 10px; */
    color: lightcoral
}

.rotateLeft .rotateRight {
    width: 284px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.rotateRight {
  float: left;
  transform: rotate(7deg);
  border: solid #BFBFBF 1px;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 5px;
}

.rotateLeft {
  float: left;
  transform: rotate(-8deg);
  border: solid grey 1px;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 5px;
}

.imagesContacts {
    width: 284px; 
    height: 244px;
}

.paragraph {
    width: 284px;
    font-size: 11px;
    line-height: 12px;
}

.containerImagesContacts {
    height: 400px;
}

.mainContainerContacts {
    margin-top: 100px;
}

.mainContainerSendAndContact {
    margin-top: 48px;
    width: 800px;
    background-color: lightslategray;
    display: flex;
    justify-content: space-around;
    height: 600px;
    max-width: 1000px;
    border-radius: 4px;
    border-top-left-radius: 48px;
    border-bottom-right-radius: 48px;
}

.sectionLinks {
    display: flex;
    flex-direction: column;
    background-color: silver;
    height: 102px;
}

.containerSendaMessage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: silver; */ 
}

.sendMess {
    font-size: 32px;
    font-family:'Courier New', Courier, monospace;
}

.outlinedRequired {
    /* height: 38px; */
}

.containerContactLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 400px;
    max-height: 420px;
    background-color: silver;
    border-radius: 12px;
    margin-top: 8px;
}

.sectionLinks {
    width: 326px;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.callContacts {
    font-size: 32px;
    font-family:'Courier New', Courier, monospace;
    padding-left: 18px;
}

.underlineSocials {
    font-size: 2px;
    /* color: black; */
    font-weight: 500;
    margin: 25px 20px;
    width: 280px;
    border: 1px solid lightgray;
    margin-top: 8px;
    border-radius: 48px;
}

/* .iconsSocials i {
    font-size: 12px;
    color: black;
} */