.underline{
    font-size: 20px;
    color: black;
    font-weight: 500;
    margin: 25px 20px;
    width: 155px;
    border: 2px solid #ff9100;
    margin-top: 8px;
}
.headerAndUnderline {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerAndUnderline {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerFormContacts {
    border: solid 1px white;
    width: 650px;
}

.images {
    width: 650px;
}

.image {
    width: 650px;
}

.containerForm {
    display: flex;
}

.connectWithUsContainer {
    height: 556px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}