.habibi {
    display: flex;
    justify-content: space-evenly;
}

.image {
    width: 300px; 
    height: 300px;
    margin-bottom: 50px;
    margin-top: 50px;
}

img {
    width: 300px; 
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  background-color: purple;
}