@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {font-family: 'Open Sans', sans-serif;}

.mainContainer {
    display: flex;
    justify-content: center;
}


.goBig {
  width: 300px;
  float: left;
  position: relative;
}

.im {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
}

.goBig:hover {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
}