p { 
    width: 1000px;
    font-size: 20px;
}

.parafraphContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.imgForUs {
    width: 800px;
    height:500px;
}
.underline{
    font-size: 20px;
    color: black;
    font-weight: 500;
    margin: 25px 20px;
    width: 155px;
    border: 2px solid #ff9100;
    margin-top: 8px;
}
.headerAndUnderline {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.mainContainerForUs {
    margin-bottom: 100px;
    margin-top: 100px;
}