/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {font-family: 'Open Sans', sans-serif;}

.mainContainer {
    display: flex;
    justify-content: center;
}

.underline{
    font-size: 20px;
    color: black;
    font-weight: 500;
    margin: 25px 20px;
    width: 155px;
    border: 2px solid #ff9100;
    margin-top: 8px;
}
.headerAndUnderline {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerAndUnderline {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.goBig {
  /* width: 300px;
  float: left;
  position: relative; */
}

.im {
  /* width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center; */
}

.goBig:hover {
  /* width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white; */
}

/* img:hover {
    transform: scale(1.5);
    z-index: 111111111111111111111111111111111111111;
} */

.gridGallery {
    background-color: red;
    display: grid;
}