.mainContainer {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    margin-top: 20px;
}

.topCTCard {
    border: solid red 1px;
    border-radius: 10px;
    width: 250px;
    height: 400px;
    background-image: url('../images/triteMashini.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 350px 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footerCard {
    color: black;
    display: flex;
    flex-direction: column;
}

.footerCard span:nth-child(1) {
    font-size: 28px;
}

.titleCard {
    display: flex;
    justify-content: space-around;
}

.titleCard span:nth-child(1) {
    font-size: 22px;
}

.titleCard span:nth-child(1) span{
    font-size:14px;
}

.titleCard span:nth-child(2) {
    font-size: 22px;
}

.titleCard span:nth-child(2) span{
    font-size:14px;
}


.imageCard {
    width: 200px;
    height: 100px;
}


.textSecondContainer h2 {
    font-size: 28px;
    font-weight: 600;
}

.iconTextParagraph h6 {
    font-size: 18px;
}

.iconTextParagraph p {
    font-size: 14px;
    width: 650px;
    line-height: 1.1;
}

.firstContainerTitle {
    display: flex;
    justify-content: space-between;
}

.secondContTextWhyRun {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
}

.secondConOurKeyBen {
    width: 600px;
}

.firstContainerTextContainer {
    width: 650px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.secondTitle {
    font-size: 38px;
    font-weight: 800;
}

.firstContainerText {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    width: 800px;
}

.imageHomePage { 
    margin: 0;
    margin-top: -20px;
    width: 800px;
    height: 500px;
}

.containerCard5Km {
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;

    position: relative;
    top: -652px
}

.iRUnLogo {
    width: 100px;
    height: 100px;
    margin: 0;
    border-radius: 50%;
}

.explorerDestinations {
    display: flex;
    flex-direction: column;
}

.text {
    font-weight: 2000;
}

.explorerDestinations span:nth-child(1) {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(75, 207, 251)
}

.firstContainer {
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('../images/ERImage.jpg');
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 150px;
    margin-top: 150px;
    width: 270px;
    height: 400px;
    background-color: whitesmoke;
    border-radius: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.secondConBackGrdn {
    display: flex;
    width: 1400px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.fourPictures {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.secondConIconAndText {
    display: flex;

}

.secondConIconAndText p {
    margin: 0;
}

.secondConIconAndText h6 {
    margin: 0;
}

.iconSecondCon1 {
    font-size: 28px;
    height: 50px;
    margin-right: 10px;
    color: lightcoral;
}
.iconSecondCon2 {
    font-size: 28px;
    height: 50px;
    margin-right: 10px;
    color: lightpink;
}
.iconSecondCon3 {
    font-size: 28px;
    height: 50px;
    margin-right: 10px;
    color: rgb(47, 43, 43);
}
.iconSecondCon4 {
    font-size: 28px;
    height: 50px;
    margin-right: 10px;
    color: lightsteelblue;
}

.secondContainerWhyToRun {
    /* border: solid red 1px; */
    display: flex;
    justify-content: center;
    background-color: #242424;
    margin-top: 50px;
}

.imageSecondContainer1 {
    width: 250px;
    height: 250px;
    margin: 0;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}
.imageSecondContainer2 {
    width: 250px;
    height: 250px;
    margin: 0;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.image {
    width: 250px; 
    height: 250px;
    /* margin-bottom: 50px;
    margin-top: 50px; */
    position: relative;
    text-align: center;
    color: white;
}

.images {
    width: 200px; 
    height: 200px;
    border-radius: 4px;
    padding: 5px;
    margin: 0;
}

.imageUpcomingEvents {
    width: 300px; 
    height: 300px;
    margin-bottom: 50px;
    margin-top: 50px;
    position: relative;
    text-align: center;
    color: white;
}

.btnHomePage {
    width: 400px;
    background: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)), url('../images/ERImage.jpg');
    color: black;
    font-weight: 600;
    background-color: lightblue;
    /* -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0% 100%); */
}

.btnHomePage:hover {
    width: 400px;
    clip-path: polygon(34% 6%, 88% 7%, 97% 33%, 97% 60%, 69% 88%, 30% 95%, 4% 60%, 5% 34%);

    background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.6)), url('../images/ERImage.jpg');
    color: black;
    font-weight: 600;
}

.imagesUpcomingEvents {
    width: 300px; 
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.NewsEventsContainer {
    margin-top: -300px;
    display: flex;
    justify-content: space-evenly;
}

h1 { 
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
}

.textCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonFiveKm {
    width: 250px;
    font-size: 8px !important;
}

.firstCоntainerFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
}

.latestStories {
    margin-top: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(70, 70, 70);
}

.latestStoriesBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.latestStoriesHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    margin-top: 42px;
    /* margin-bottom: 50px; */
}

.runningTracksContainer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headRunTrackContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    max-width: 250px;
    max-height: 300px;
    border-radius: 50px;
}

.latestStoriesBody h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    line-height: 1.8;
    width: 230px;
    height: 80px;
    font-size: 14px;
}


.latestStoriesBody p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    line-height: 1.5;
    font-size: 12px;
    width: 230px;
    height: 50px;
    margin: 0;
}

.containerLatestStoryHomePage {
    display: flex;
    gap: 20px;
}