.mainContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    /* background-image: url('../images/ERImage.jpg'); */
    /* background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.2)), url('../images/ERImage.jpg'); */

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    margin-top: 20px;
}

.firstContainerTitle {
    display: flex;
}

.firstContainerText {
    width: 800px;
}

img { 
    margin: 0;
}

.containerCard5Km {
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;
}

.iRUnLogo {
    width: 100px;
    height: 100px;
    margin: 0;
    border-radius: 50%;
}

.firstContainer {
    /* background-image: url('../images/ERImage.jpg'); */
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('../images/ERImage.jpg');
    /* background-size: cover; */
    /* filter: blur(4px); */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 150px;
    margin-top: 150px;
    width: 540px;
    height: 800px;
    /* border: solid red 1px; */
    background-color: whitesmoke;
    border-radius: 20px;
}

.image {
    width: 500px; 
    height: 500px;
    margin-bottom: 50px;
    margin-top: 50px;
    position: relative;
    text-align: center;
    color: white;
}

.images {
    width: 492px; 
    height: 500px;
    border-radius: 4px;
    padding: 5px;
    /* border-radius: 25px; */
}

.imageUpcomingEvents {
    width: 300px; 
    height: 300px;
    margin-bottom: 50px;
    margin-top: 50px;
    position: relative;
    text-align: center;
    color: white;
}

.imagesUpcomingEvents {
    width: 300px; 
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.NewsEventsContainer {
    display: flex;
    justify-content: space-evenly;
}

h1 { 
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
}

.textCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonFiveKm {
    width: 500px;
}


/* .flipcard {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flipcardinner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flipcard:hover .flipcardinner {
  transform: rotateY(180deg);
}

.flipcardfront, .flipcardback {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipcardfront {
  background-color: #bbb;
  color: black;
}

.flipcardback {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
} */