.firstVontainer {
    display: flex;
    justify-content: center;
}



.image {
    width: 500px; 
    height: 500px;
    margin-bottom: 50px;
    margin-top: 50px;
    position: relative;
    text-align: center;
    color: white;
}

.images {
    width: 500px; 
    height: 500px;
    /* border: 1px solid #ddd; */
    border-radius: 4px;
    padding: 5px;
}
