.firstContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    /* background-image: url('../images/forest4.jpg');
    background-repeat: no-repeat;
    background-size: 100%; */
}

.image {
    width: 500px; 
    height: 500px;
    margin-bottom: 50px;
    margin-top: 50px;
    position: relative;
    text-align: center;
    color: white;
}

.images {
    width: 500px; 
    height: 500px;
    /* border: 1px solid #ddd; */
    border-radius: 4px;
    padding: 5px;
    /* opacity: 0.5; */
}

.imageUpcomingEvents {
    width: 300px; 
    height: 300px;
    margin-bottom: 50px;
    margin-top: 50px;
    position: relative;
    text-align: center;
    color: white;
}

.imagesUpcomingEvents {
    width: 300px; 
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.NewsEventsContainer {
    display: flex;
    justify-content: space-evenly;
}

h1 { 
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
}

.textCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}