.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;

}