.headerAndUnderline {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.containerLogos {
    display: flex;
    justify-content: space-around;
    margin-bottom: 250px;
    margin-top: 150px;
}

.underline{
    font-size: 20px;
    color: black;
    font-weight: 500;
    margin: 25px 20px;
    width: 155px;
    border: 2px solid #ff9100;
    margin-top: 8px;
}


.image {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
}

.images {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 350px;
}

.paragraph {
    width: 300px;
    text-align: center;
}