.headerAndUnderline {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.underline{
    font-size: 20px;
    color: black;
    font-weight: 500;
    margin: 25px 20px;
    width: 155px;
    border: 2px solid #ff9100;
    margin-top: 8px;
}




body {
  font-family: Arial, Helvetica, sans-serif;
}

.flipCard {
  background-color: transparent;
  width: 300px;
  height: 300px;
  /* perspective: 1000px; */
    margin-bottom: 104px;
    border-radius: 12px;

}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardFront, .flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipCardFront {
  background-color: #bbb;
  color: black;
    border-radius: 8px;

}

.flipCardBack {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  border-radius: 8px;

}

.summaryPartners {
  width: 300px;
  width: 300px;
}

.flipCardFront img {
    margin: 0;
}

.img {
    /* clip-path: polygon(0 0, 0% 20%, 24% 50%, 0% 80%, 0 100%, 49% 100%, 100% 100%, 100% 80%, 100% 52%, 100% 0, 80% 0%, 56% 0); */
    border-radius: 8px;
}

.cardPartnersContainer {
    margin-top: 82px;
    display: flex;
    justify-content: center;
    margin-top: 152px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1400px;
}

.summaryPartners {
    font-size: 12px;
    line-height: 16px;
}