.mainContainerResult {
    margin-top: 100px;
}

.eventsContainer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 80px;
}

.image {
    width: 300px; 
    height: 300px;
    margin-bottom: 50px;
    margin-top: 50px;
    position: relative;
    text-align: center;
    color: white;
}

.images {
    width: 300px; 
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
.underline{
    font-size: 20px;
    color: black;
    font-weight: 500;
    margin: 25px 20px;
    width: 155px;
    border: 2px solid #ff9100;
    margin-top: 8px;
}
.headerAndUnderline {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerAndUnderline {
    display: flex;
    flex-direction: column;
    align-items: center;
}