.container {
    height: 300px;
    margin-top: 50px;
}

.icons {
    display: flex;
}

.fastLinks {
    display: flex;
    justify-content: space-around;
}

img {
    margin-top: 25px;
    margin-bottom: 25px;
}