.logoOn {
    width: 120px;
    height: 92px;
}

.logoOff {
  width: 120px;
    height: 92px;
}

.logoTextOn {
     width: 120px;
    height: 92px;;
}

.logoTextOff {
    width: 120px;
    height: 92px;
}

.menuHeader {
    height: 92px;
}

.menuAppbar ul {
    width: 468px;
    height: 404px;
    font-size: 52px;
}

.menuAppbar ul li {
    height: 38px;
}

.menuAppbar ul li p{
    height: 26px;
    font-size: 24px;
}

.iconChange svg{
    font-size: 34px;
}

@media only screen and (max-width: 900px) {
    .logoTextOn {
        display: none;
    }
    .logoOn {
        display: none;
    }
}