.logoOn {
    width: 120px;
    height: 92px;
}

.logoOff {
  width: 120px;
    height: 92px;
}

.logoTextOn {
     width: 120px;
    height: 92px;;
}

.logoTextOff {
    width: 120px;
    height: 92px;
}

.menuHeader {
    height: 92px;
}

@media only screen and (max-width: 900px) {
    .logoTextOn {
        display: none;
    }
    .logoOn {
        display: none;
    }
}