.imageGalleryThumbnail2 {
    height: 50px;
 }

.image-gallery-thumbnail-image .image-gallery-thumbnail-inner .image-gallery-thumbnail{
    height: 50px;
}

div div nav button span img{
    height: 50px;
}