.imagesContainer {
    max-width: 1200px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
    margin-bottom: 100px;
    margin-top: 100px;
}

.image {
    width: 100%;
    height: 20rem;
    cursor: pointer;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}