.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
}

.imgMadaraTrail {
    width: 740px;
    height: 580px;
}

.titleEvent {
    margin-top: 80px;
}

.description {
    font-size: 20px;
    margin-top: 60px;
}

.headedrsSche {
    font-size: 32px;
    font-weight: 600;
    color: burlywood;
    margin-top: 60px;
}

.headedrs {
    font-size: 22px;
    font-weight: 400;
    color:aquamarine;
}

.textSize {
    font-size: 18px;
}




.pulseBtn {
    background:#0b63bb;
    color:#fff;
    border:1px solid #0b63bb;
    padding:1rem 2rem;
    border-radius:2rem;
    font-size:1rem;
    box-shadow: 0 0 0 0 rgba(88, 120, 243, 0.4);
    -moz-animation: pulse 2s infinite;
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
    }

    /* @keyframes pulse {
        0% {
            box-shadow: 0 0 0 0 rgba(88, 120, 243, 1);
        }
        70% {
            box-shadow: 0 0 0 10px rgba(88, 120, 243, 0);
        }
        100% {
            box-shadow: 0 0 0 50px rgba(88, 120, 243, 0);
        }
} */
