.mainContainerProduct {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 442px;
    /* border: solid 1px purple; */
    
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.mainContainerProduct:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 42, 0.501);
}

.image {
    width: 250px;
    height: 300px;
    margin: 0;
}

.images {
    width: 250px;
    height: 300px;
}


.button {
    width: 300px;
}

.button:hover {
    background-color: rgb(109, 1, 1);
}

.productName {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
}

.price {
    font-size: 14px;
    font-weight: 600;
}