.mainContainer {
    font-style: normal;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleAndPostedBy {
    width: 1000px;
    font-size: 42px;
    color: #d4d4d4;
    margin-top: 22px;
    margin-bottom: 42px;
}

.postedByText {
    font-size: 14px;
    color: whitesmoke;
    margin-bottom: 22px;
}

h2 {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3px;
    padding-bottom: 5px;
}

p {
    font-size: 16spx;
    line-height: 28px;
    color: #a8a8a8;
}

.imgBlogAndNews {
    width: 800px;
    height: 500px;
}