@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sunflower:wght@300&family=Work+Sans&display=swap');

 *,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    width: 100vw;
    background: #2d2e2f;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}
    
.container {
    width: 85%;
}

.swiper {
    width: 100%;
    padding: 60px 0;
}

.swiper-slide {
    position: relative;
    width: 400px;
    height: 520px;
    background: #fff;
    box-shadow: 1px 22px 44px rgba(0, 0, 0, 0.2);
    border-radius: 20% 6px 20% 6px;
    overflow: hidden;
    transition: 1s;
    user-select: none;
}

.swiper-slide-active {
    border: 3px solid #fff;
    transition: 0.6s ease-in-out;
}

.slide-1 {
    background: url("../../images/irina.jpg") no-repeat center / cover;
}

.slide-2 {
    background: url("../../images/filip.jpg") no-repeat 35% / cover;
}

.slide-3 {
    background: url("../../images/monument.jpg") no-repeat 48% / cover;
}

.slide-4{
    background: url("../../images/rado.jpg") no-repeat center / cover;
}

.slide-5 {
    background: url("../../images/monument.jpg") no-repeat center / cover;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    padding: 25px 25px 30px;
}
.title h1 {
    font-family: "Sunflower", sans-serif;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
    opacity: 1;
}

.swiper-slide-active .title h1 {
    opacity: 0;
    transition: 0.8s;
    transition-delay: 1.5s;
}

.content {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    padding: 25px 25px 65px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background: rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(
        180deg,
        transparent,
        transparent,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.8));
        color: #fff;
        opacity: 0;
}

.swiper-slide-active .content {
    opacity: 1;
    transform: 0.8s;
    transition-delay: 1.5s;
}

.score {
    position: absolute;
    top: 12px;
    right: 18px;
    width: 45px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    background-color: #ffe550;
    border-radius: 50%;
    box-shadow: 0 50px 50px -20px rgba(50, 50, 93, 0.25),
        0 30px 60px -30px rgba(0, 0, 0, 0.3),
        inset 0 -2px 6px 0 rgba(10, 37, 64, 0.35);
    font-size: 1rem;
    font-weight: 600;
    opacity: 0;
}

.swiper-slide-active .score {
    opacity: 1;
    transition: 0.8s;
    transition-delay: 0.9s;
}

.text {
    border-left: 4px solid #ffc750;
    padding-left: 10px;
    opacity: 0;
}

.swiper-slide-active .text {
    opacity: 1;
    transition: 1s;
    transition-delay: 2s;
}

.text h2 {
    font-family: "Sunflower", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin:0;
    transform: translateY(-100%);
    opacity: 0;
}

.swiper-slide-active .text h2 {
    transform: translateY(0);
    opacity: 1;
    transition: 1s;
    transition-delay: 2.2s;
}

.text p {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.4;
    transform: translateY(100%);
    opacity: 0;
    margin: 0;
    width: 342px;
}

.swiper-slide-active .text p {
    transform: translateY(0);
    opacity: 1;
    transition: 1.5s;
    transition-delay: 1.8s;
}

.genre {
    position: absolute;
    bottom: 20px;
    left: 25px;
    display: flex;
    gap: 10px;
}

.genre span {
    color: #fff;
    font-size: 0.8rem;
    padding: 4px 6px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    opacity: 0;
}

.swiper-slide-active .genre span {
    opacity: 1;
    transition: 0.8s ease-out;
    transition-delay: calc(2.4s + var(--i) * 0.4s);
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 15px;
}

.swiper-pagination-bullet-active {
    width: 32px;
    border-radius: 14px;
    background: linear-gradient(120deg, #f0d11b, #ffc750);
    box-shadow: 0 0 20px 0 rgba(255, 200, 80, 0.7);
    transition: all 0.8s ease-in-out;
}

@media (max-width: 480px) {
    .swiper-slide {
        width: 300px;
    }

    .title h1 {
        font-size: 2rem;
    }
    .score {
        width: 40px;
        font-size: 0.8rem;
    }

    .text h2 {
        font-size: 1.4rem;
        margin-bottom: 8px;
    }

    .text p {
        font-size: 0.8rem;
        line-height: 1.3;
    }

    .genre {
        gap: 5px;
    }

    .genre span {
        font-size: 0.7rem;
        padding: 2px 5px;
    }

    .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
    }

    .swiper-pagination-bullet-active {
        width: 28px;
        border-radius: 14px;
    }
}